
# Install the dependencies for ManiSkill2
mani-skill
gymnasium

# Motion planner
mplib

# To generate documentation
mkdocs
pylint

# To read serialize and de-serialize objects (configuration, classes for example)
jsonpickle

# ===== EEG libraries =====
pylsl
mne
braindecode

# ====== Utils =======
pynput @ git+https://github.com/moses-palmer/pynput@master
loguru          # Logging library
omegaconf       # To manage configurations
matplotlib      # plots
tqdm            # Library to show progress on the bash
numpy
torch
tensordict
pandas
skorch
scikit-learn
black
