
# Install the dependencies for ManiSkill2
mani-skill
gymnasium

# Motion planner
mplib==0.2.0a1

# To generate documentation
mkdocs
mkdocs-material
mkdocstrings-python
mkdocs-exclude
mkdocs-plantuml
mkdocs-build-plantuml-plugin
plantuml
pylint

# To read serialize and de-serialize objects (configuration, classes for example)
jsonpickle

# ===== EEG libraries =====
pylsl
mne
braindecode

# ====== Utils =======
pynput          # To sample keyboard and mouse
loguru          # Logging library
omegaconf       # To manage configurations
matplotlib      # plots
tqdm            # Library to show progress on the bash
numpy
torch
tensordict
pandas
skorch
scikit-learn
overrides
black
wandb          # To log experiments